<div class="container-fluid">
    <h2 class="text-center mt-5"><strong>Proyectos&nbsp;de&nbsp;vinculación</strong>&nbsp;basados en&nbsp;innovación
        social&nbsp;
    </h2>
    <div class="layout-1 mt-4 mp-4">
        <ol>
            <li><strong>Recabar datos </strong>a través del uso intensivo de las tecnologías de la información y
                comunicación&nbsp;</li>
            <li><strong>Transformarlos</strong> en información válida para la toma de decisiones de la comunidad</li>
            <li><strong>Generar</strong> proyectos de vinculación&nbsp;</li>
        </ol>
        <p>&nbsp;</p>
    </div>
    <p class="text-center"> <strong>¿Quieres saber mas?</strong> Selecciona un objetivo y consulta todos nuestros proyectos relacionados con el</p>
    <div class="row">
        <!--ODS1 FIN DE LA POBREZA-->
        <div class="col-md-2">
            <div class="tarjeta">
                    <a href="/ods1" >

                        <a href="/ods1"><button type="submit" class="btn btn-outline-secondary">

                                <img src="https://i2.wp.com/www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2016/01/S_SDG_Icons-01-01.jpg?w=1200"
                                    width="152" height="152" alt="Objetivo 1: FIN DE LA POBREZA" class="img-responsive">

                            </button></a>

                        </form>
                <div class="atras">

                </div>

            </div>

            </a>
        </div>
        <!--ODS2 HAMBRE CERO-->
        <div class="col-md-2">

            <a href="/ods2" >
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="https://i2.wp.com/www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2016/01/S_SDG_Icons-01-02.jpg?w=1200"
                        width="152" height="152" alt="Objetivo 2: HAMBRE CERO" class="img-responsive">
                </button>
                </form>

        </div>
        <!--ODS3 SALUD Y BIENESTAR-->
        <div class="col-md-2">
            <a href="/ods3" >
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="https://i2.wp.com/www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2016/01/S_SDG_Icons-01-03.jpg?w=1200"
                        width="152" height="152" alt="Objetivo 3: SALUD Y BIENESTAR" class="img-responsive">
                </button>
                </form>

        </div>
        <!--ODS4 EDUCACION DE CALIDAD-->
        <div class="col-md-2">
            <a href="/ods4" >
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="https://i2.wp.com/www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2016/01/S_SDG_Icons-01-04.jpg?w=1200"
                        width="152" height="152" alt="Objetivo 4: EDUCACION DE CALIDAD" class="img-responsive">
                </button>
                </form>

        </div>
        <!--ODS5 IGUALDAD DE GENERO-->
        <div class="col-md-2">
            <a href="/ods5" >
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="https://i2.wp.com/www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2016/01/S_SDG_Icons-01-05.jpg?w=1200"
                        width="152" height="152" alt="Objetivo 5: IGUALDAD DE GENERO" class="img-responsive">
                </button>
                </form>

        </div>
        <!--ODS6 AGUA LIMPIA Y SANEAMIENTO-->
        <div class="col-md-2">
            <a href="/ods6" >
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="https://i2.wp.com/www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2016/01/S_SDG_Icons-01-06.jpg?w=1200"
                        width="152" height="152" alt="Objetivo 6: AGUAL LIMPIA Y SANEAMIENTO" class="img-responsive">
                </button>
                </form>
        </div>
        <!--ODS7 ENERGÍA ASEQUIBLE Y NO CONTAMINANTE-->
        <div class="col-md-2">
            <a href="/ods7" >
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="https://i2.wp.com/www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2016/01/S_SDG_Icons-01-07.jpg?w=1200"
                        width="152" height="152" alt="Objetivo 7: ENERGÍA ASEQUIBLE Y NO CONTAMINANTE"
                        class="img-responsive">
                </button>
                </form>
        </div>
        <!--ODS8 TRABAJO DECENTE Y CRECIMIENTO ECONÓMICO-->
        <div class="col-md-2">
            <a href="/ods8" >
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="https://i2.wp.com/www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2016/01/S_SDG_Icons-01-08.jpg?w=1200"
                        width="152" height="152" alt="Objetivo 8: TRABAJO DECENTE Y CRECIMIENTO ECONÓMICO"
                        class="img-responsive">
                </button>
                </form>
        </div>
        <!--ODS9 INDUSTRIA, INNOVACIÓN E INFRAESTRUCTURA-->
        <div class="col-md-2">
            <a href="/ods9" >
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="https://i2.wp.com/www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2016/01/S_SDG_Icons-01-09.jpg?w=1200"
                        width="152" height="152" alt="Objetivo 9: INDUSTRIA, INNOVACIÓN E INFRAESTRUCTURA"
                        class="img-responsive">
                </button>
                </form>
        </div>
        <!--ODS10 REDUCCIÓN DE LAS DESIGUALDADES-->
        <div class="col-md-2">
            <a href="/ods10" >
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="https://i2.wp.com/www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2016/01/S_SDG_Icons-01-10.jpg?w=1200"
                        width="152" height="152" alt="Objetivo 10: REDUCCIÓN DE LAS DESIGUALDADES"
                        class="img-responsive">
                </button>
                </form>
        </div>
        <!--ODS11 CIUDADES Y COMUNIDADES SOSTENIBLES-->
        <div class="col-md-2">
            <a href="/ods11" >
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="https://i2.wp.com/www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2016/01/S_SDG_Icons-01-11.jpg?w=1200"
                        width="152" height="152" alt="Objetivo 11: CIUDADES Y COMUNIDADES SOSTENIBLES"
                        class="img-responsive">
                </button>
                </form>
        </div>
        <!--ODS12 PRODUCCIÓN Y CONSUMO RESPONSABLES-->
        <div class="col-md-2">
            <a href="/ods12" >
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="https://i2.wp.com/www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2016/01/S_SDG_Icons-01-12.jpg?w=1200"
                        width="152" height="152" alt="Objetivo 12: PRODUCCIÓN Y CONSUMO RESPONSABLES"
                        class="img-responsive">
                </button>
                </form>
        </div>
        <!--ODS13 ACCIÓN POR EL CLIMA-->
        <div class="col-md-2">
            <a href="/ods13" >
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="https://i2.wp.com/www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2016/01/S_SDG_Icons-01-13.jpg?w=1200"
                        width="152" height="152" alt="Objetivo 13: ACCION POR EL CLIMA" class="img-responsive">
                </button>
                </form>
        </div>
        <!--ODS14 VIDA SUBMARINA-->
        <div class="col-md-2">
            <a href="/ods14" >
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="https://i2.wp.com/www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2016/01/S_SDG_Icons-01-14.jpg?w=1200"
                        width="152" height="152" alt="Objetivo 14: VIDA SUBMARINA" class="img-responsive">
                </button>
                </form>
        </div>
        <!--ODS15 VIDA DE ECOSISTEMAS TERRESTRES-->
        <div class="col-md-2">
            <a href="/ods15" >
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="https://i2.wp.com/www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2016/01/S_SDG_Icons-01-15.jpg?w=1200"
                        width="152" height="152" alt="Objetivo 15: VIDA DE ECOSISTEMAS TERRESTRES"
                        class="img-responsive">
                </button>
                </form>
        </div>
        <!--ODS16 PAZ, JUSTICIA E INSTITUCIONES SÓLIDAS-->
        <div class="col-md-2">
            <a href="/ods16" >
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="https://i2.wp.com/www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2016/01/S_SDG_Icons-01-16.jpg?w=1200"
                        width="152" height="152" alt="Objetivo 16: PAZ, JUSTICIA E INSTITUCIONES SÓLIDAS"
                        class="img-responsive">
                </button>
                </form>
        </div>
        <!--ODS17 ALIANZAS PARA LOGRAR LOS OBJETIVOS-->
        <div class="col-md-2">
            <a href="/ods17" >
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="https://i2.wp.com/www.un.org/sustainabledevelopment/es/wp-content/uploads/sites/3/2016/01/S_SDG_Icons-01-17.jpg?w=1200"
                        width="152" height="152" alt="Objetivo 17: ALIANZAS PARA LOGRAR LOS OBJETIVOS"
                        class="img-responsive">
                </button>
                </form>
        </div>
        <!--
        <div class="col-md-2">
            <div class="wrap">
                <div class="tarjeta-wrap">
                    <div class="tarjeta">
                        <div class="adelante card1"></div>
                        <div class="atras">
                            <p>OBJETIVOS DEL DESARROLLO SOSTENIBLE!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->

    </div>
</div>